<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="./menu-inicio.component.css">
    <title>Menú navegador</title>
</head>

<body>


    <div class="component">
        <h1>Menú Navegador</h1>
        <img src="/assets/logo_urban.png" alt="Urban Clothe">
    </div>
    <div class="rutas">
        <h3><a routerLink="/Catalogos">Catalogos</a></h3>
        <h3><a routerLink="/Contactos">Contactos</a></h3>
        <h3><a routerLink="/DetallesProductos"> Detalles productos</a></h3>
        <h3><a routerLink="/Encargados">Encaragados</a></h3>
        <h3><a routerLink="/Materiales">Materiales</a></h3>
        <h3><a routerLink="/Produccion">Produccion</a></h3>
        <h3><a routerLink="/Productos">Productos</a></h3>

    </div>
</body>

</html>